* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    text-align: justify;

    font-family: "Segoe UI", sans-serif;
}

.main {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;

    background: linear-gradient(to right, blue, darkblue);
    color: white;

    &-links {
        display: flex;

        &-link {
            padding: .75em;
            font-size: 1.25em;
        }

        &-separator {
            flex-grow: 1;
        }
    }
}

a {
    text-decoration: inherit;
    color: inherit;
}

.button {
    background-color: lightgrey;
    border-radius: 3px;
    padding: .5em;
    margin: .3em;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 2em 5%;
    background-color: #242424;
    color: white;

    &-section {
        margin: 1em;
    }
}
