* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

    font-family: "Segoe UI", sans-serif;

    text-align: justify;
}

a {
    text-decoration: inherit;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.footer {
    display: flex;
    justify-content: center;
    padding: 2em 5%;
    background-color: #242424;
    color: white;

    &-section {
        margin: 1em;
    }
}
