* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    text-align: justify;

    font-family: "Segoe UI", sans-serif;
}

.main {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.897)
}

.header {
    display: flex;
    flex-direction: column;

    background: linear-gradient(to right, blue, darkblue);
    color: white;

    &-links {
        display: flex;

        &-link {
            padding: .75em;
            font-size: 1.25em;

            &:hover {
                background-color: rgba(0, 0, 0, 0.2)
            }
        }

        &-separator {
            flex-grow: 1;
        }
    }
}

h1 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    &:first-child {
        margin-top: 0;
    }
}

article {
    margin: 2em 30%;
    padding: 2em;

    background: white;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.button {
    display: inline-block;
    background-color: lightgrey;
    border-radius: 3px;
    padding: .5em;
    margin: .3em;
}

.version {
    border-bottom: solid 1px lightgrey;

    &:last-child {
        border-bottom: none;
    }

    padding: 1em 0;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 2em 5%;
    background-color: #242424;
    color: white;

    &-section {
        margin: 1em;
    }
}
